<!DOCTYPE html>
<html>
  <head>
    <title>Mediapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <!-- begin main navigation -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to("Home", root_path, :class => 'nav-link')%>
            </li>
            <li class="nav-item">
             <%= link_to("About", home_about_path, :class => 'nav-link')%>
            </li>
            <li class="nav-item">
              <%= link_to("Contact", home_contact_path, :class => 'nav-link')%>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          
          <%= render(:partial => 'layouts/register_navigation')%>
        
        </div>
        </div>
      </nav>

      <!-- end main navigation -->

      <%= render(:partial => 'shared/flashnotice') %>
      <%= render(:partial => 'shared/flashalert')  %>


      <%= yield %>

    </div>
    
  </body>
</html>
